@import "tailwindcss";

:root {
  --color-primary: #6B54FF;
  --color-background: #FCFBFF;
  --color-text: #000000;
}

[data-theme="dark"] {
  --color-primary: #6B54FF;
  --color-background: #2A2A2A;
  --color-text: #FFFFFF;
}

@theme inline {
  --font-jura: var(--font-jura);
  --font-sans: var(--font-jura), ui-sans-serif, system-ui;

  --page-max: 1728px;
  --page-px: clamp(20px, 4vw, 46px);

  --text-h1: 4rem;         /* 64px */
  --text-logo: 2.36rem;    /* 38px */
  --text-h2: 2rem;         /* 32px */
  --text-h3: 1.5rem;       /* 24px */
  --text-body: 1.25rem;    /* 20px */
  /* Основные цвета */
  --color-primary: var(--color-primary);
  --color-text: var(--color-text);
  --color-background: var(--color-background);
}

@utility container {
  max-width: var(--page-max);
  margin-inline: auto;
  padding-inline: var(--page-px);
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-jura), ui-sans-serif, system-ui;
}
